button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    font-weight: 700;
}
#mySubmit{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(233, 184, 120);
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;

}
#mySubmit:hover{
    background-color: rgb(168, 219, 219);
    color: blue;
    transition: 0.35s;
}
#mySubmit:active{
    font-size: 2em;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(21, 17, 243, 0.164);
    font-size: 2em;

}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
} 